*, *:before, *:after{
    box-sizing: inherit;
}

html{
    height:100%;
    box-sizing: border-box;
    grid-template-rows: repeat(10, .5fr);
    grid-template-columns: repeat(10, .5fr);
}
header{
    text-align: center;
    font-size: 5em;
    
}
html,body{
    padding:0;
    margin:0;
}

body{
    min-height:100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 35%,
 rgba(148,187,233,1) 100%);
}
#title{
    color: rgba(35, 36, 36, 0.747);
}

#calculator{
    display:grid;
    position: absolute;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 3px;
    -webkit-box-shadow: 0px 14px 22px 9px rgba(15, 15, 15, 0.35); 
    box-shadow: 0px 14px 25px 9px rgba(15, 15, 15, 0.35);
    background: rgba(76, 148, 182, 0.753);
    border: 18px outset #4c94b6c0;
    border-radius: 2%;
    top: 20%;
    left: 38%;
    height: 40em;
    width: 30em;
    grid-template-areas: 
    "display display    display display"
    "btnclr  btnplusmin btnplus btnmin"
    "btn1    btn2       btn3    btnmultiply"
    "btn4    btn5       btn6    btndiv"
    "btn7    btn8       btn9    btnequal"
    "btn0    btn0       btndot  btnequal ";
}

.buttons{
    border: 2px solid black;
    background: rgb(238, 175, 202);
    box-shadow: 2px 0px 2px 2px rgba(15, 15, 15, 0.35);
    border-radius: 5%;
    color: rgb(245, 241, 241);
    text-shadow: 1px 1px 2px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 600;
    text-align: center;
    box-shadow: 1px 0 2px;
    font-size: 30px;
    cursor: pointer;
}

.buttons:active{
    transform: translateY(2px);
    box-shadow: 0 3px #666;
}

#btn1{
    grid-area: btn1;
}
#btn2{
    grid-area: btn2;
}
#btn3{
    grid-area: btn3;
}
#btn4{
    grid-area: btn4;
}
#btn5{
    grid-area: btn5;
}
#btn6{
    grid-area: btn6;
}
#btn7{
    grid-area: btn7;
}
#btn8{
    grid-area: btn8;
}
#btn9{
    grid-area: btn9;
}
#btn0{
    grid-area:btn0;
}
#btnplus{
    grid-area: btnplus;
    background-color:rgba(167, 236, 221, 0.984);
}
#btnmin{
    grid-area: btnmin;
    background-color:rgba(167, 236, 221, 0.984);
}
#btnmultiply{
    grid-area: btnmultiply;
    background-color:rgba(167, 236, 221, 0.984);
}
#btndiv{
    grid-area: btndiv;
    background-color:rgba(167, 236, 221, 0.984);
}
#btnequal{
    grid-area: btnequal;
    background-color: rgba(219, 206, 248, 0.897);
    font-size: 30px;
}
#btnclr{
    grid-area:btnclr;
    background-color:rgba(167, 236, 221, 0.984);
}
#btndot{
    grid-area:btndot;
    font-size: 30px;
}
#btnplusmin{
    grid-area: btnplusmin;
    background-color:rgba(167, 236, 221, 0.984);
}
.display{
    grid-area: display;
    overflow: hidden;
    color: rgba(32, 32, 32, 0.87);
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: flex-end;
    flex-direction: column;
    border: 2px outset black;
    border: 2px inset black;
    background-color: rgba(223, 247, 240, 0.884);
    
    
}

#fall{

}

